body
{
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
.introheading
{
	text-align:center;
	font-size:1.8em;
	color:grey;
	
	
}
.videoheading
{
	text-align:center;
	font-size:1.5em;
	color:grey;
	
	
}