
.clr
{
	clear:both;
}
.spacer
{
	height:5px;
}
.step-outer
{
margin:auto; 
width:915px;
height:68px;

}
.step-inner-wrapper
{
	display:inline-block; border:1px solid #f1f1f2; width:700px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	 
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topleft: 10px;
}
.step-number
{
	line-height:65px;
	display:inline-block; 
	background-color: #00adee; 
	width:65px;  
	height:65px;
	text-align: center;
	
	color:white;
	font-size:2em;
	vertical-align:middle;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.step-text
{
	display:inline-block;  
	width:470px;
	font-size:1.5em; 
	vertical-align:middle;
	padding-left:10px;
}
.step-start
{
	display:inline-block;  
	width:120px;
}
.step-edit
{
	display:none;  
	width:120px;
}
.step-arrow
{
	font-size:1.5em;
	color: #00adee;
	display:inline-block;
	vertical-align:middle;
}
.step-checkbox
{
	display:none;
	width:80px; 
	vertical-align:bottom;
	
}

/* completed version of divs */
.completed  .step-edit
{
	display:inline-block;  
}
.completed  .step-start
{
	display:none;   
}
.completed .step-number
{
	background-color: #f1f1f2; 
}
.completed .step-checkbox
{
	display:inline-block;  
	   
}